<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% if !@user.ratings.empty? %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>, average rating <%= @user.average_rating %>
  </p>

  <p>
    Favorite style: <%= @user.favorite_style %>
  </p>
<% end %>

<h2>Ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>

      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Beerclub memberships</h2>
<ul>
  <% @user.beerclubs.each do |beerclub| %>
    <li><%= link_to beerclub.name, beerclub %></li>
  <% end %>
</ul>

<%= link_to 'Back', users_path %>

<% if @user == current_user %>
  |
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
