<h2>List of ratings</h2>

<% cache 'ratings', expires_in:10.minutes do %>
  <p> Number of ratings: <%= @ratings.count %> </p>

  <h2>top breweries</h2>
  <%= render 'list', ratings: @top_breweries %>

  <h2>top beers</h2>

  <%= render 'list', ratings: @top_beers %>

  <h2>recent</h2>
  <ul>
    <% @recent.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
    <% end %>
  </ul>

  <h2>all</h2>
  <ul>
    <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
    <% end %>
  </ul>
<% end %>

<% if current_user %>
  <%= link_to 'Create new rating', new_rating_path %>
<% end %>
