<p id="notice"><%= notice %></p>

<h1><%= @beerclub.name %>, <%= @beerclub.city %></h1>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<ul>
  <% @beerclub.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>

<%= link_to('Edit', edit_beerclub_path(@beerclub)) if current_user %> |
<%= link_to 'Back', beerclubs_path %>
