<p id="notice"><%= notice %></p>

<h1><%= @beerclub.name %>, <%= @beerclub.city %></h1>

<p>
  <strong>Founded:</strong>
  <%= @beerclub.founded %>
</p>

<h2>Members</h2>
<ul>
  <% @beerclub.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
</ul>

<% if current_user && !@current_user_is_member %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value:"join the club" %>
  <% end %>
<% end %>

<% if current_user && @current_user_is_member %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value: "end the membership" %>
  <% end %>
<% end %>

<%= link_to('Destroy', @beerclub, method: :delete, data: { confirm: 'Are you sure?' }) if current_user %> |
<%= link_to('Edit', edit_beerclub_path(@beerclub)) if current_user %> |
<%= link_to 'Back', beerclubs_path %>
